body {
  background-image: url(/wall.jpg);
}

.judul {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 15px;
  font-family: cursive;
  margin-left: auto;
  text-align: center;
  color: white;
}

.judul h1 {
  width: 100%;
  text-align: center;
}

label {
  color: white;
  font-weight: bold;
  font-family: cursive;
}

.tampilandepan {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.tampilandepan .formdata {
  width: 40%;
  padding: 15px;
}

.tampilandepan .tampilan_table {
  padding: 15px;
  width: 52%;
}
.tampilandepan .tampilan_table table {
  border: solid 1px #ccc;
}

.tampilandepan .tampilan_table td,
.tampilandepan .tampilan_table th {
  border-left: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 10px 5px;
  text-align: left;
  font-size: 13px;
  color: white;
}
.tampilandepan .tampilan_table td:first-child,
.tampilandepan .tampilan_table th:first-child {
  border-left: none;
}

.tampilandepan .tampilan_table tr {
  border-bottom: solid 1px #ccc;
}
.tampilandepan .tampilan_table tr:last-child td {
  border-bottom: none;
}

.formdata form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.formdata form label {
  width: 100px;
}
.formdata form input,
.formdata label {
  margin: 10px 0;
  padding: 5px;
}
.formdata form input {
  width: 200px;
  padding: 7px;
}
.formdata th {
  background: #f1f1f1;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
.formdata .button {
  background-image: url(/Knight.jpg);
  padding: 5px 10px;
  font-size: 20px;
  margin: 25px auto;
  display: table;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  font-family: cursive;
  border-color: white;
}
